@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app="">
<head>
    <meta name="viewport" content="width=device-width" />
    
    <title>WDF 2 Demo - Directives and Databinding</title>
</head>
<body>
    @* Directives Demo 1 *@
    @*<div>
        <h1>Directives Demo 1</h1>
        Name: <input type="text" ng-model="name" />
        <br />
        Hi, my name is {{name}}
    </div>*@

    <br />
    
    @* Directive Demo 2  *@
    <div ng-init="names=['Bill', 'Steve', 'Mark', 'Larry']">
        <h1>Directives Demo 2</h1>
        <ul>
            <li ng-repeat="name in names">{{name}}</li>
        </ul>
    </div>

    <script src="~/Scripts/angular.min.js"></script>   
</body>
</html>
